body {
    font-family: sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

header .title {
    margin: 0 auto 1rem auto;
    display: flex;
    color: #69e59d;
}

header img {
    width: 100%;
    max-width: 30px;
    margin: 0 1rem 0 0;
}

header span {
    margin: 0.2rem auto;
}

nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

nav a {
    display: block;
    color: #333;
    margin-bottom: 3px;
}

nav a:hover {
    background-color: #69e59d50;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
    padding: 1rem;
    background-color: #69e59d;
}

h3 {
    margin: 0;
    color: #0a9b4d;
}

.category {
    font-weight: bold;
    font-size: large;
    margin: 0.5rem 0;
}

section {
    margin: 1rem;
}

.snippet {
    font-family: monospace;
    background-color: #eee;
    padding: 0.5rem;
    margin: 1rem 0;
    border: 1px dashed #ccc;
}

button {
    background-color: #459f77;
    color: white;
    border: none;
    padding: 0.3rem;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 1rem;
    margin: 0 0.5rem;
}

button:hover {
    background-color: #20b78a;
}

input {
    padding: 0.3rem;
    border-radius: 0.3rem;
    border: 2px solid;
    margin: 0 0.5rem;
}

select {
    padding: 0.3rem;
    border-radius: 0.3rem;
    border: 2px solid;
    margin: 0 0.5rem;
}

.foo {
    background-color: #e58e69;
    color: white;
    padding: 0.5rem;
    margin: 1rem 0;
    font-family: 'Playpen Sans', cursive;
}

.multi-element {
    margin: 1rem 0;
    padding: 0.5rem;
    border: 1px solid #ccc;
    font-family: monospace;
    box-shadow: 2px 2px 0.5rem #ccc;
}